body {
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(41, 115, 178);
    font-size: 50px;
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background-color: rgb(72, 166, 167);
    margin: 0px;
}

.socialmedia-icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.home-icon{

}

.even-article {
    background-color: rgb(242, 239, 231);
    height: 300px;
    margin: 0px;
}

.uneven-article {
    background-color: rgb(154, 203, 208);
    height: 300px;
    margin: 0px;
}

.aside-left {
    padding-right: 0px;
    margin-right: 20px;
    float: left;
}

.aside-right {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.article-image{
    height: 200px;
    width: 200px
}

h1{
    background-color: inherit;
    text-align: center;
    margin: 0;
}

p {
    background-color: inherit;
    width: 100%;
    margin: 10px 20px ;
    font-size: 10px;
    color: black;
    font-family: "Gadugi";
}

div{
    height: 20px;
}
