body {
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(41, 115, 178);
    font-size: 2vw;
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    background-color: rgb(72, 166, 167);
    margin: 0px;
}

.socialMediaIcon {
    height: 30px;
    width: 30px;
    margin: 0px;
}

.evenArticle {
    background-color: #201f4f;
    height: 30vw;
    margin: 0px;
    width: 100%;
  }

.unevenArticle {
    background-color: #0f0f0f;
    height: 30vw;
    width: 100%;
    margin: 0px;
}

section{

}

aside{

}

td, th {
  border: 2px solid white;
}

.flex-ignore{
    display:contents;
}
ul, li{
  color: white;
  font-size: 2vw;
}
table{
  color: white;
  font-size: 2vw;
  margin-left:auto;
  margin-right:auto;
}
h1{
    color: white;
    background-color: inherit;
    text-align: center;
    margin: 0;
}

p {
    display: flex;
    background-color: inherit;
    width: 100%;
    margin: 0px;
    word-break: break-word;
    font-size: 2vw;
    color: white;
    font-family: "Gadugi";
}
.centered{
  text-align: center;
}
div{
    height: 20px;
}

/* W3schools stuff*/
.parallax {
  /* The image used */
  background-image: url("../../../resources/images/teamnl.jpg");

  /* Set a specific height */
  width:  100vw; 
  min-height: 80vh;
  height:auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
img {
  
  width: 20vw;
  height: auto;
}
