body {
    background-image: url("../resources/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    font-family: "Stencil Std";
    font-size: 60px;
    text-align: center;
    width: inherit;
    background-color: #000c6666;
}

h1{
    background-color: inherit;
    text-align: center;
    margin: 0;
}

.flex-container {
  display: flex;
  background-color: blue;
  justify-content: center;
  gap:1%;
}

.flex-container > img {
  width:30%;
  max-width:100%;
  border:5px solid black;
}

.page-title{
    color: white;
}
