body {
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(41, 115, 178);
    font-size: 50px;
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    background-color: rgb(72, 166, 167);
    margin: 0px;
}

.flex-container {
  display: flex;
  background-color: blue;
  justify-content: center;
  gap:1%;
}

.flex-container > img {
  max-width: 100%;
  width:30%;
  max-width:100%;
  border:5px solid black;
}

h1{
    background-color: inherit;
    text-align: center;
    margin: 0;
}

p {
    background-color: inherit;
    width: 100%;
    margin: 0px;
    font-size: 10px;
    color: white;
    font-family: "Gadugi";
}

div{
    height: 20px;
}
